#arkaplan {
  z-index: -1;
  margin-bottom: 500px;
}

.Ürün-conteainer {
  display: flex;
}
table {
  border: 1px black solid;
  border-radius: 20px;
  border-collapse: collapse;
  margin-left: 386px;
  margin-right: 386px;
  margin-top: 40px;
  margin-bottom: 30px;
}
#tablobaşlık {
  font-size: 50px;
  color: #00315c;
  font-family: "Times New Roman", Times, serif;

  margin-top: 35px;
  border-bottom: 3px #00315c solid;
  width: 600px;
}
th {
  font-size: x-large;
  text-align: center;
  width: 332px;
}
#ücrethatadı {
  color: #00315c;
  background-color: #bdd7ee;
  border: 1px black solid;
  padding-right: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  padding: 5px;
}
#ücretsivil {
  color: #00315c;
  background-color: #bdd7ee;
  border: 1px black solid;
  font-weight: bolder;
  width: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#ücretogrenci {
  color: #00315c;
  background-color: #bdd7ee;
  border: 1px black solid;
  width: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
}
.duraklar {
  background-color: #e2efda;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: larger;
  border: 1px black solid;
  padding: 5px;
}
.ücretler {
  background-color: #e2efda;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 20px;
  text-align: center;
  border: 1px black solid;
  padding: 3px;
}
#SIRALAMA {
  display: flex;
  margin-left: 17%;
}
#ücretlinkler {
  display: flex;
  height: 20px;
  margin-top: 15px;

  a {
    text-decoration: none;
    color: #799cb8;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
  }
}
