.fotoğraf {
  margin-left: 3%;
  position: relative;
  width: 70rem;
  height: 32rem;
  background-color: brown;
  border-radius: 1.5rem;
  margin-top: 30px;
  margin-bottom: 50px;

  img {
    width: 70rem;
    height: 32rem;
    border-radius: 1.5rem;
  }

  p {
    background-color: rgba(0, 0, 0, 0.182);
    color: white;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 18px;
    border-radius: 20px;
    width: 60%;
    padding: 10px;
  }
}

.wrapper1 {
  margin-left: 17%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  height: fit-content;
  margin-bottom: 5%;
}

#duraklarbaslik {
  display: flex;
  height: 20px;
  margin-top: 15px;

  a {
    text-decoration: none;
    color: #799cb8;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
  }
}
