.wrapper2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 1%;
  margin-left: 17%;
  margin-bottom: 5%;

  height: fit-content;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}

.minibüshatları {
  position: relative;
  width: 98%;
  margin-top: 20px;
}
.hat {
  background-color: #fbfbfb;
  width: 95%;
  height: auto;
  margin: 25px 25px 0px 25px;
  border-radius: 20px;
  box-shadow: #e3e3e3 2px 2px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  transition: all 400ms ease;
  display: flex;

  .hat-yazı {
    display: inline-flex;
    color: #00315c;
    text-align: start;
    padding: 30px;
    font-weight: 500;
    font-size: 18px;
    word-spacing: 10px;
    letter-spacing: 2px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  span {
    font-size: 24px;
  }
  .hat-img {
    display: inline-flex;
    padding-right: 30px;
  }
}

.hat:hover {
  background-color: #2882ff10;
}

#hatlinkler {
  display: flex;
  height: 20px;
  margin-top: 15px;

  a {
    text-decoration: none;
    color: #799cb8;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
  }
}
